.NavigationItems {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
}

@media (min-width:500px) {
    .NavigationItems {
        flex-flow: row;
    }   
}